{% extends "layout.html" %}

{% block content %}

<div class="findPw2-top">
    <div class="top1">
        <div class="findPw2-top-left">
            <a href="/">NEVER</a>
            <a href="#">내정보</a>
        </div>
        <a href="login">로그인</a>
    </div>
    <div class="top2">
        <div class="top2-box">
            <div class="top2-left">
                <p>아이디 찾기</p>
            </div>
            <div class="top2-mid">
                <p>비밀번호 찾기</p>
            </div>
            <p class="hidden-box">hidden</p>
        </div>
    </div>
</div>
<div class="findPw2-main">
    <div class="main-top">
        <p>비밀번호 찾기</p>
        <p>01. 아이디 입력 > <span class="font-green">02. 본인 확인</span> > 03. 비밀번호 재설정</p>
    </div>
    <div class="main-mid">
        <p>비밀번호를 찾을 방법을 선택해주세요!!!</p>
        <div class="cert-1">
            <input type="radio" id="regi_phone" name="cert" onClick="cert1_radio_func(event)">
            <label for="regi_phone">회원정보에 등록한 휴대전화로 인증</label>
            <div class="cert-1-form-div" id="cert-1-form-div">
                <form action="/changePW" method="POST" class="cert-1-form">
                    <p>회원정보에 등록한 휴대전화 번호와 입력한 휴대전화 번호가 같아야, 인증번호를 받을 수 있습니다.</p>
                    <div>
                        <input type="hidden" id="findpw_id" name="findpw_id" value="{{findPW_userid}}">
                        <label>이름</label>
                        <input type="text" id="findpw_name" name="findpw_name" required>
                    </div> 
                    <div>
                        <label>휴대전화</label>
                        <input type="text" id="findpw_phone" name="findpw_phone" placeholder="휴대전화번호" required>
                    </div>
                    <button type="submit" class="findPw2-submit-button">다음</button>
                </form>
            </div>
        </div>

        <p class="fontS-13 color-gray">비밀번호 찾기 시 문제가 있나요? <a class="color-black text-underline">바로가기</a></p>
        <!-- <div class="cert-2">
            <p>등록한 회원정보로 찾기 어려우시면, 본인 확인 후 비밀번호를 찾아드립니다.</p>
            <input type="radio" id="my_phone" name="cert">본인 명의 휴대전화로 인증 (본인 주민등록번호로 가입된 휴대전화)
            <p>내 명의(주만등록반호)의 휴대전화로 비밀번호를 재설정 할 수 있습니다.</p>
        </div> -->
    </div>
</div>
{% endblock %}